<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="assets/css/materialize.min.css" rel="stylesheet" />
    <link href="assets/css/theme.css" rel="stylesheet" />

    <!-- Include the core AngularJS library -->
    <script src="assets/js/angular.min.js"></script>

    <!-- Include accessory library -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/materialize.min.js"></script>
    <script src="assets/js/slider.min.js"></script>
</head>

<body ng-app="CalcApp">

    <nav>
        <div class="nav-wrapper">
            <a href="http://ekta.ua/" class="brand-logo left">
                <img class="logo" src="assets/img/logo.png" width="142">
            </a>
            <h2 class="brand-logo center">LED Calc</h2>
            <div class="brand-logo right buttons">
                <a class="waves-effect waves-light btn">Print</a>
                <a href="http://ekta.com.ua/en/contacts" class="waves-effect waves-light btn">Get a quote</a>
            </div>
        </div>
    </nav>

    <main class="container row" ng-controller="MainController as vm">
        <!-- Tune -->
        <div class="col s12 l4">
            <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><i class="medium material-icons">tune</i>Tune</div>
                    <div class="collapsible-body">
                        <controls></controls>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Select model -->

        <div class="col s12 l4">
            <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><i class="medium material-icons">extension</i>Select model</div>
                    <div class="collapsible-body scrollable-box">
                        <article class="card-panel hoverable z-depth-1" ng-repeat="display in vm.displays">
                            <header>
                                <!-- <header class="" ng-click="addSuccess = 'uk-form-success'" ng-class="addSuccess"> -->
                                <img class="uk-comment-avatar" ng-src="{{ display.url }}" alt="led display {{ display.name }}">
                                <h2 class="uk-comment-title">{{ display.name }}</h2>
                                <div class="uk-comment-meta">location: {{ display.location }}</div>
                                <div class="uk-comment-meta">size: {{ display.horizontalResolution }} x {{ display.verticalResolution }} px</div>
                                <div class="uk-comment-meta">pixel pitch: {{ display.pixelPitch }}</div>
                            </header>
                        </article>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Result -->

        <div class="col s12 l4">
            <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><i class="medium material-icons">apps</i>Result</div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="col s6">
                                <p class="right-align">Screen resolution</p>
                                <p class="right-align">Screen dimensions</p>
                                <p class="right-align">Screen diagonal</p>
                                <p class="right-align">Aspect ratio</p>
                                <p class="right-align">Total LED tiles</p>
                                <p class="right-align">Surface</p>
                                <p class="right-align">Max. power consumption</p>
                                <p class="right-align">Typ. power consumption</p>
                                <p class="right-align">Weight without steel</p>
                                <p class="right-align">Optimal viewing distance</p>
                            </div>
                            <div class="col s6">
                                <p>{{ vm.calc_data.is_outdoor && 'Outoor' || 'Indoor' }}</p>
                                <p>{{ vm.calc_data.is_rental ? 'Rental' : 'Fixed' }}</p>
                                <p>{{ vm.calc_data.is_imperial ? 'Imperial' : 'Metric' }}</p>
                                <p>{{ }}</p>
                                <p>{{ }}</p>
                                <p>{{ }}</p>
                                <p>{{ }}</p>
                                <p>{{ }}</p>
                                <p>{{ }}</p>
                                <p>{{ }}</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Preview -->

        <div class="col s12 card-panel hoverable z-depth-1">
            <i class="medium material-icons">remove_red_eye</i>
            <table class="responsive-table"></table>
        </div>

    </main>

    <footer></footer>

    <!-- Modules -->
    <script src="app/app.js"></script>
    <script src="app/calculator/calculator.service.js"></script>
    <script src="app/calculator/controls/controls.directive.js"></script>

    <!-- Controllers -->
    <script src="app/controllers/MainController.js"></script>
    <!-- <script src="app/controllers/PhotoController.js"></script> -->

    <!-- Services -->
    <script src="app/services/displays.js"></script>

</body>

</html>
