<article class="uk-comment" ng-repeat="display in displays">
    <header class="uk-comment-header">
        <img class="uk-comment-avatar" ng-src="{{ display.url }}" alt="led display {{ display.name }}">
        <h2 class="uk-comment-title">{{ display.name }}</h2>
        <div class="uk-comment-meta">location: {{ display.location }}</div>
        <div class="uk-comment-meta">applications: {{ display.applications }}</div>
        <div class="uk-comment-meta">pixel pitch: {{ display.pixelPitch }}</div>
    </header>
</article>
