<div>
<div class="container tune collection" ng-form="parameters.form_of_stuff">
    <div class="switch collection-item">
        <label>Indoor
            <input
              type="checkbox"
              ng-model="vm.calc_data.is_outdoor"
              ng-disabled="vm.calc_data.is_rental"
              ng-change="vm.byLocation()">
            <span class="lever"></span> Outdoor
        </label>
    </div>

  <div class="chip">or</div>

    <div class="switch collection-item">
        <label>Fixed&nbsp;&nbsp;
            <input
              type="checkbox"
              ng-model="vm.calc_data.is_rental"
              ng-disabled="vm.calc_data.is_outdoor"
              ng-change="vm.byApplication()">
            <span class="lever"></span> Rental
        </label>
    </div>
    <div class="switch collection-item">
        <label>
            metric
            <input type="checkbox" ng-model="vm.calc_data.is_imperial">
            <span class="lever"></span> imperial
        </label>
    </div>
    <div class="collection-item">
        <rzslider
            rz-slider-model="parameters.sliderOptions.vertical.value"
            rz-slider-options="parameters.sliderOptions.vertical.options">
         </rzslider>
    </div>
    <div class="collection-item">
        <rzslider
            rz-slider-model="parameters.sliderOptions.horizontal.value"
            rz-slider-options="parameters.sliderOptions.horizontal.options">
        </rzslider>
    </div>
</div>
</div>
