body {
  margin: 0;
}
img:not(.logo) {
  width: 80px;
}
.uk-container {
  max-width: 100%;
}
.uk-navbar {
  background-color: rgb(0, 92, 171);
  height: 90px;
  border: none;
  border-radius: 0;
  color: white;
}
.header {
  padding: 26px 0;
}
.header .uk-h2 {
  line-height: 40px;
}
.uk-h2 {
  padding-top: 5px;
}
